#appearance-tab > div > div.children_b15c64 > div:nth-child(2) > div.selectionGroup__36139 {
    display: none
}

#appearance-tab > div > div.children_b15c64 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div {
    display: none
}

#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div.layers_a40797.layers__12c9f > div:nth-child(2) > div > div.sidebarRegion__60457 > div > nav > div > div.premiumTab__57bdc.item__48dda.themed_b957e8 {
    display: none
}

#profile-customization-tab > div.container_d6bff4.containerDefaultMargin_dcee92.shopForAllBackgroundImage__009d9 {
    display: none
}

#profile-customization-tab > div:nth-child(4) > div > div > div.sectionsContainer_a37883 > div.customizationSection__16fec.showBorder__9e03d {
    display: none
}

#profile-customization-tab > div.premiumFeatureBorder__9bbb3.featureBorder_a44f20.tryItOutSection__0f9fb {
    display: none
}

#nitro-server-boost-tab > div > div.content_e96fa0 > div > div.wrapper__8c346 {
    display: none
}

#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div.layers_a40797.layers__12c9f > div:nth-child(2) > div > div.sidebarRegion__60457 > div > nav > div > div:nth-child(33) {
    display: none
}

#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div.layers_a40797.layers__12c9f > div:nth-child(2) > div > div.sidebarRegion__60457 > div > nav > div > div.item__48dda.selected__5711d.themed_b957e8 {
    display: none
}

#profile-customization-tab > div:nth-child(5) > div > div > div.sectionsContainer_cce45e > div.upsellOverlayContainer__08979 {
    display: none
}

#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div.layers_a40797.layers__12c9f > div > div > div > div > div.sidebar_ded4b5 > nav > div.container__7c79d.clickable__2d589 > header > div > div.guildIconV2Container__53cdb {
    display: none
}

#channels > ul > div.container__4f639.containerWithMargin__7d380 {
    display: none
}

#message-accessories-944968840993972334 > div > div.content_cd557a > div > div.flex_f5fbb7.vertical__1e37a.justifyCenter__4080c.alignStretch_e239ef.noWrap__5c413.guildInfo__0e8f5 > div > h3 > span > span {
    display: none
}

#guild-header-popout > div > div:nth-child(1), #guild-header-popout > div > div:nth-child(2) {
    display: none
}

#emoji-picker-tab-panel > div.emojiPicker_b65ce9 > div.premiumPromo__2d678 {
    display: none
}

#sticker-picker-tab-panel > div.upsellWrapper_d04266 {
    display: none
}

#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div.layers_a40797.layers__12c9f > div > div > div > div > div > nav > div.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 > ul > li:nth-child(3) {
    display: none
}

#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div.layers_a40797.layers__12c9f > div > div > div > div > div > nav > div.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 > ul > li:nth-child(4) {
    display: none
}

#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div.layers_a40797.layers__12c9f > div > div > div > div > div.chat__52833 > div.content__1a4fe > div > div.chatContainer__23434 > main > form > div > div.scrollableContainer__33e06.themedBackground__6b1b6.webkit__8d35a > div > div.buttons_ce5b56 > button.button_afdfd9 {
    display: none
}

#message-add-reaction-1 {
  display: none;
}

#message-actions-add-reaction-1 {
    display: none;
}

#app-mount > div.appAsidePanelWrapper__714a6 > div.notAppAsidePanel__9d124 > div.app_b1f720 > div > div.layers_a40797.layers__12c9f > div > div > div > div > div.chat__52833 > div.content__1a4fe > div > div.chatContainer__23434 > main > div.messagesWrapper_ea2b0b.group-spacing-0 > div > div.scrollerContent_c73942.content__23cab > ol > li > div > div.buttonContainer_dd4b62 > .container__9d616.buttons__3766a > .wrapper_c727b6.buttonsInner_bca8fa > div.button_d553e5:nth-of-type(2) {
    display: none
}
