  /* Hide the nitro tab in the homepage */ 
  li.channel-1Shao0:nth-child(3) {
    display: none;
  }

  /* Hide the nitro tab in settings */ 
  .premiumTab-39eQzY {
      display: none;
  }

  /* Hide the nitro ad in the server boost*/
  .content-2t8mBc > div:nth-child(11), .tier0Container-3pQqp9, .wrapper-2-Da9H, .subscribeAction-1tjck2 {
      display: none;
  }

  /* Hide the nitro ad in the profil tab */   
  .premiumFeatureBorder-3vL7bn, .upsellContainer-TwfTaF, div.customizationSection-IGy2fS:nth-child(5), div.customizationSection-IGy2fS:nth-child(6) {
      display: none;
  }

  /*  Hide gift button*/

  .buttons-uaqb-5 > button:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > path:nth-child(1) { 
    display: none;
  }

  /* Hide nitro ad invite  */
  div.flex-2S1XBF:nth-child(4) {
    display: none; 
  }


 /* Hide nitro ad in screen share settings */
  div.appDevToolsWrapper-1QxdQf > div > div:nth-child(3) > div.layer-1Ixpg3 > div > div > form > div:nth-child(2) > div > div > div:nth-child(4) > div > div.upsellBanner-1tVKtW.gradientBackground-MytxDL {
   display: none;
 }

 /* Hide nitro ad in activity selector */
  div.appDevToolsWrapper-1QxdQf > div > div:nth-child(3) > div.layer-1Ixpg3 > div > div > div:nth-child(5) > div > div > div > div.scroller-3oxliS.thin-31rlnD.scrollerBase-_bVAAt > div:nth-child(2) {
    display: none;
  }

